* {
  box-sizing: border-box;
  color:#BDBDBD;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-div {
  display: flex;
  height:100vh;
}

.app-second-div {
  background-color: #0b1f3a;
  width:70%;
}

header {
  position: fixed;
  top:0;
  padding:10px;
  background-color:#0b1f3a;
  width: 100%;
  text-decoration:underline;
  z-index:10;
}


ul {
  background-color: #102541;
  list-style-type: none;
  padding:10px;
  padding-top: 100px;
  margin-top:0;
  margin-bottom:0;
  height: 100%;
}

button, .noteLink {
  background-color: #030f1f;
  border:0;
  margin-bottom: 10px;
}

.remove-button {
  transform: rotate(-90deg);
  float: right;
  margin-top: 25px;
  padding: 10px;
  background-color: #0A1F3A;
  font-size: 1rem;
  
}

.note-div {
  display: inline-block;
}

.noteList {
  margin-bottom: 8px;
  padding: 5px;
}

